{
    "presets": [
        "env", 
        "react",
        "stage-2"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-react-jsx",
        "syntax-dynamic-import",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}