html,body{
    background-color: #ccc;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}

.comment{
    overflow: hidden;
    margin: 10px 20px;
    background-color: #fff;
    font-size: 14px;
}
.comment .comment-stu{
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
}
.comment .comment-stu input{
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 5px;
}
.comment .comment-stu span{
    margin-left: 30px;
    /* max-height: 60px; */
    display: inline-block;
    float: left;
}
.comment .comment-stu span .btn-more{
    color: #17c182;
    cursor: pointer;
}

.comment .comment-reply{
    background-color: #EFF0F1;
    margin: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    overflow: hidden;
}
.comment .comment-reply>div{
    margin: 10px 20px;
    margin-left: 60px;
    position: relative;
}
.comment .comment-reply>div:first-child{
    margin-left: 20px;
}
.comment .comment-reply .color-gray{
    color: #999;
}
.comment .comment-reply .color-self{
    color: #17c182;
}
.comment .comment-reply p{
    color: #333;
    display: inline-block;
    margin-right: 120px;
}
.comment .comment-reply .btn-more{
    color: #17c182;
    cursor: pointer;
}
.comment .comment-reply .time{
    float: right;
    font-size: 12px;
    top: 0px;
    position: absolute;
    right: 15px;
    color: #999;
}